<nav class="navbar">
  <ul class="nav-links">
    <li><a href="/" class="{{#if (eq title 'Inicial')}}active{{/if}}">Inicial</a></li>
    <li><a href="/musicas" class="{{#if (eq title 'Músicas')}}active{{/if}}">Músicas</a></li>
    <li><a href="/fotos" class="{{#if (eq title 'Fotos')}}active{{/if}}">Fotos</a></li>
    <li><a href="/contagem" class="{{#if (eq title 'Contagem')}}active{{/if}}">Contagem do tempo</a></li>
    <li><a href="/linha" class="{{#if (eq title 'Linha do tempo')}}active{{/if}}">Linha do tempo</a></li>
    <li><a href="/carta" class="{{#if (eq title 'Cartinha')}}active{{/if}}">Cartinha</a></li>
  </ul>
</nav>