
node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

dist/
build/
.tmp/


.env
.env.local
.env.*.local

.vscode/
.idea/
.DS_Store
Thumbs.db


.cache/
.npm/
.eslintcache

*.tmp
*.swp


*.bak

coverage/
*.lcov


*.gz
*.zip
*.tar
