<body>

  <h1>Nossas Fotoooooos</h1>

  <main class="album-hero">
    <section class="grid-fotos">
      <img src="../imagens/imgAbr.jfif" alt="">
      <img src="../imagens/imgAug.jfif" alt="">
      <img src="../imagens/imgDez.jfif" alt="">
      <img src="../imagens/imgFev.jfif" alt="">
      <img src="../imagens/img1.jpg" alt="">
      <img src="../imagens/img2.jpg" alt="">
      <img src="../imagens/img3.jpg" alt="">
      <img src="../imagens/img4.jpg" alt="">
      <img src="../imagens/img5.jpg" alt="">
      <img src="../imagens/imgJun.jfif" alt="">
      <img src="../imagens/img6.jpg" alt="">
      <img src="../imagens/img7.jpg" alt="">
      <img src="../imagens/imgJan.jfif" alt="">
      <img src="../imagens/img8.jpg" alt="">
      <img src="../imagens/img9.jpg" alt="">
      <img src="../imagens/imgJul.jfif" alt="">
      <img src="../imagens/img10.jpg" alt="">
      <img src="../imagens/img11.jpg" alt="">
      <img src="../imagens/imgMar.jpeg" alt="">
      <img src="../imagens/img12.jpg" alt="">
      <img src="../imagens/img13.jpg" alt="">
      <img src="../imagens/img14.jpg" alt="">
      <img src="../imagens/ImgOut.jpg" alt="">
      <img src="../imagens/img15.jpg" alt="">
      <img src="../imagens/img16.jpg" alt="">
    </section>
  </main>

  <div class="botao">
        <button onclick="window.location.href='/contagem'">Próximo</button>
      </div> 
</body>

