  <link rel="icon" type="image/png" href="/imagens/coracao1.png" sizes="32x32">
</head>
<body>
  <main id="inicio">
    <div class="Nomes">
      <h1>VICTOR</h1>
      <span class="coracao">❤</span> 
      <h1>MARINA</h1>
      <p>A melhor história de amor que poderia existir</p>

      <div class="botao">
        <button onclick="window.location.href='/musicas'">Começar</button>
      </div>
    </div>
  </main>
</body>

