 <link rel="icon" type="image/png" href="/imagens/coracao1.png" sizes="32x32">
</head>
<body>
  

<h1>Nossas Músicas!</h1>
  
<section id="nossa-musica" class="musicas-stack">
  <article class="music-row">
    
    <div class="music-media">
      <img src="../imagens/musica1.png" alt="Capa da música 1">
    </div>
    <div class="music-info">
      <h3>Com Você To Completo</h3>
      <audio id="song1" src="../musicas/completo.mp3" preload="none"></audio>
      <button class="musica-play" data-audio="song1">▶ Play</button>

      <div class="volume">
        <input type="range" class="volume-slider" data-audio="song1" min="0" max="1" step="0.01" value="0.8">
        <span class="volume-value">80%</span>
      </div>

      <p class="textinho">Oi meu amor, essa musica me lembra MUITO você, por isso mesmo que fiz aquela trend. Eu lembro de você principalmente
        em momentos que você tem aqueeele ciuminho que eu fico tipo queeeeeee e penso como que eu vou trocaaaaar a mulher que me liga so
        pra saber se eu cheguei bem, a pessoa que sabe me dar prazer como ninguém e me conhece mais doq eu mesmooooooo!
      </p>
    </div>
  </article>

 
  <article class="music-row">
    <div class="music-media">
      <img src="../imagens/musica2.png" alt="Capa da música 2">
    </div>
    <div class="music-info">
      <h3>Terça De Tarde</h3>
      <audio id="song2" src="../musicas/Pedrosa - Terça de Tarde.mp3" preload="none"></audio>
      <button class="musica-play" data-audio="song2">▶ Play</button>

      <div class="volume">
        <input type="range" class="volume-slider" data-audio="song2" min="0" max="1" step="0.01" value="0.7">
        <span class="volume-value">70%</span>
      </div>

      <p class="textinho">Oii vida, aai essa música é totalmente nossa, que saudade das nossas terças feiras, o dia da semana que a gente
        começou a se aproximar de verdade, que a gente passava o diiia juntos escondidos as vezes no sofa! E o dia que nós se falamos o nosso
        primeiro EU TE AMO, ai amor meudeus que saudade que eu tenho
      </p>
    </div>
  </article>

   <article class="music-row">
    <div class="music-media">
      <img src="../imagens/musica3.png" alt="Capa da música 3">
    </div>
    <div class="music-info">
      <h3>Mal Acostumado</h3>
      <audio id="song3" src="../musicas/mal acostumado (feat. mavyrmldy).mp3" preload="none"></audio>
      <button class="musica-play" data-audio="song3">▶ Play</button>

      <div class="volume">
        <input type="range" class="volume-slider" data-audio="song3" min="0" max="1" step="0.01" value="0.8">
        <span class="volume-value">80%</span>
      </div>

      <p class="textinho">Amor então, esse não é o seu estilo de música, mas ela me lembra muito você, principalmente no nosso começo de
        namoro, ali em dezembro, janeiro, mas PRINCIPALMENTE na viagem que eu estava nos estados unidos, eu tava ouvindo ela direto pensando
        em você. Começando com o nome dela "Mal Acostumado" que no começo do nosso namoro eu tava com muito medo de me apegar muito em
        você (mesmo ja estando) e acabar me decepcionando se acontecesse algo, mas você me tratava e me trata em outro nível que eu nunca
        tinha sentido e dai eu parava e pensava "pqp to ficando mal acostumado mesmo" e agora sobre a letra, o primeiro verso dela fala 
        "será que eu posso te chamar de be? chamar de be, alguns planos bae que eu preparei pra gente" Isso eu interpreto bem como eu tava 
        pensando na epoca, com vergonha e medo de dizer que você é o meu amor pq eu nao tinha 100% de certeza que era oq você queria,
        mas mesmo assim eu já tava planejando nosso futuro juntos com os planos que eu pensava. No verso "Te chamar de amor o tempo inteiro
        ,acho que me acostumei mesmo, to mal acostumado, mas não quero mudar" isso me lembra quando a gnt começou a se amar mesmo se chamando
        de amor o tempo todo e foi ai que eu percebi que eu tinha me acostumado mesmo, eu tava mal acostumado, mas não queria mudar de jeito
        nenhum e nem quero
      </p>
    </div>
  </article>
</section>

    <div class="botao">
      <button onclick="window.location.href='/fotos'">Próximo</button>
    </div>
</body>

